/* * { padding: 0; margin: 0; box-sizing: border-box; }
body { overflow: hidden; height: 100%; } */

.slider {
    padding: 5%;
    width: 100%;
    position: absolute;
    list-style-type: none;
    animation: slider linear infinite;
}

.slider li { 
    margin-top: 20px;
    height: max-content;
 } 

@keyframes slider {
    0%   { transform: translateY(100vh) }
    100% { transform: translateY(-100%) }
}
